p.none {
  color: blue;
  padding: 0em;
  margin: 1em;
  border-color: green;
  border-width: 5px;
  border-style: dotted;
  width: 50em;
  display: flex;
  justify-content: end;
}
p.important {
  color: orange;
  padding: 1em;
  margin: 0em;
  border-color: brown;
  border-width: 5px;
  border-style: dotted;
  width: 10em;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: row;
}
article {
  display: flex;
  flex-direction: column-reverse;
}
footer {
  display: flex;
  flex-direction: row;
}
h1 {
  color: red;
  font-size: 25pt;
  margin: 2em;
  padding: 0em;
}
pre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightcoral;
  background-color: blueviolet;
  padding: 3em;
  margin: 1em;
  border-color: brown;
  border-width: 5px;
  border-style: dotted;
}
code {
  padding: 1em;
  margin: 1em;
  border-color: brown;
  border-width: 5px;
  border-style: dotted;
  display: flex;
  flex-direction: row;
}
p {
  padding: 1em;
  margin: 1em;
  border-color: brown;
  border-width: 5px;
  border-style: dotted;
}
section > p {
  padding: 1em;
  margin: 1em;
  border-color: grey;
  border-width: 5px;
  border-style: dotted;
}
#pAzul {
  color: aquamarine;
  padding: 1em;
  margin: 1em;
  border-color: rgb(0, 247, 255);
  border-width: 5px;
  border-style: dotted;
}
a {
  padding: 1em;
  margin: 1em;
  border-color: rgb(42, 165, 58);
  border-width: 5px;
  border-style: dotted;
  display: flex;
  flex-direction: row;
}
iframe {
  padding: 2em;
  margin: 1em;
}
img {
  padding: 2em;
  margin: 1em;
}
ol {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  padding: 1em;
}
